header h2 {
  font-size: 2em;
}

header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.295);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-bottom: 20px;
  flex-direction: column;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.1rem;
  width: 90%;
}

.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}

.logo img {
  width: 80px;
}
.navLink {
  padding: 10px;
  border-radius: 10px;
  color: dimgrey;
  text-decoration: none;
}

.navLink:hover {
  color: white;
  background-color: #4a90e2;
  text-decoration: none;
}

.btn button {
  background-color: #4a90e2;
}
